<style>
  /* #signup {
    margin-left: 791px;
   
  } */

</style>
<div class="container-fluid">
  
<!-- panel body -->
<div class='panel panel-primary'
style="position: relative; top: 100px; left: 40%; align: center; width: 444px" id="cart">
<div class='panel-heading'>Login</div>
<div class='panel-body'>    
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <!-- <span>{{creadencials}}</span> -->
          <form (ngSubmit)="saveData(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" required placeholder="Enter Name">
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Enter Password">
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
  
    </form>
    <!-- {{loginForm.value | json}} -->
    </div>
  </div>
</div>
<div class='panel-footer' >
  <div id="signup" style="margin-left:70px">
      <span><b>New User Sign Up</b></span>                    
      <button type="button"  class="btn btn-success" [routerLink]='["/sign"]'  >
          Signup </button>
  </div>
  
    </div>
</div>
</div>
  