<!-- <style>
    .navbar-inverse {
  background-color:#005580;
 background-image: none;
 background-repeat: no-repeat;
   color:#ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
   color: #ffffff;
   background-color:transparent;
   
}
.navbar-inverse .navbar-nav > li > a:hover{
    text-decoration: none;
   color: #ffffff;
}
    </style>
    <div class="container">
       <nav class="navbar navbar-inverse navbar-fixed-top">

       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Mobile Cart</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li><a [routerLink]='["/list"]'>Dashboard</a></li>
           <li><a [routerLink]='[""]'>Home</a></li>
           <li><a [routerLink]='["/books"]'>Details</a></li>
         </ul>
       <!/.nav-collapse-->
        <!-- <ul class="nav navbar-nav navbar-middle" style="color:white margin-right:30px;">
       <li><a href="Cart.html"><span class="glyphicon glyphicon-shopping-cart" style="color:white"></span></a></li>
      </ul>
     </div>   
   </nav>    -->
      
      
   <router-outlet></router-outlet><style> -->